
@font-face {
  font-family: 'AnonymousPro';
  src: url('fonts/fontAnonymousPro-Bold.ttf') format('Bold'),
       url('fonts/AnonymousPro-BoldItalic.ttf') format('BoldItalic'),
       url('fonts/AnonymousPro-Italic.ttf') format('Italic'),
       url('fonts/AnonymousPro-Regular.ttf') format('Regular'),
}

body {
  font-family: 'AnonymousPro', sans-serif;
}

.project__title{
opacity:0.8;
}

.project_block__title{
opacity: 0.8;
}

.project__block__img{
}


.projects {
text-align: center;
}

.projects__block__img {
  width:300px;
  cursor: pointer;
}

.projects__block__title {
 display:block;
}

.projects__block__img{
 display:block;
}

.projects__block__link{
display:block;
}

