/*
@font-face {
  font-family: 'AnonymousPro';
  src: url('fonts/fontAnonymousPro-Bold.ttf') format('Bold'),
       url('fonts/AnonymousPro-BoldItalic.ttf') format('BoldItalic'),
       url('fonts/AnonymousPro-Italic.ttf') format('Italic'),
       url('fonts/AnonymousPro-Regular.ttf') format('Regular'),
}
*/

html{
font-size:62.5%;
}

body{
font-size:1.6rem;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

@font-face {
    font-family: "AnonymousPro";
    src: url("fonts/AnonymousPro-Regular.ttf");
}
@font-face {
    font-family: "AnonymousPro";
    src: url("fonts/AnonymousPro-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "AnonymousPro";
    src: url("fonts/AnonymousPro-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "AnonymousPro";
    src: url("fonts/AnonymousPro-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}




body {
  font-family: 'AnonymousPro', sans-serif;
}
.row{
margin-right: 0px;
margin-left: 0px;
}
.project__title{
opacity:0.8;
}

.project_block__title{
opacity: 0.8;
}

.projects__block__img{
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}


.projects__block__img:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}



.projects {
background-color: #262525;  
text-align: center;
}

.projects__block{
text-align:center;
}
.projects__detail__container{

}


.projects__block__img {
  cursor: pointer;
}

.projects__block__title {
 display:block;
}

.projects__block__img{
    width: 90%;
    display: block;
    margin: auto;
}

.projects__block__link{
text-decoratation:none;
margin-top:20px;
color:white;
display:inline-block;
border-bottom: solid 1px #262525;
}

.hero {
  width: 100vw;
  height: 95vh;
   /* Flexbox stuff */
  padding-left:7%;
  display: flex;
  justify-content: left;
  align-items: center;
 
   
}
.hero__inner{
font-size: 2rem;
width:30%;    
}
.hero__desc__p{
  font-size: 1.5rem;
  font-style: italic;
}

.projects {
  width: 100vw;
  padding-top: 150px;
  padding-bottom: 300px;
  background-image: linear-gradient(45deg, #111111, #111111);
	transform: skewY(-7deg);
}

.projects__inner {
  max-width: 50em;
	margin: 0 auto;
	transform: skewY(7deg);
}

.abilities {
  padding-top: 150px;
  padding-bottom: 300px;
  background-color: #FFDC00;
  width: 100vw;
  transform: skewY(-7deg);
}

.abilities__inner{
max-width: 50em;
margin-left: 30%;
transform: skewY(7deg);
}

.tools {
 
width: 100vw;
padding-top: 150px;
padding-bottom: 300px;

  
}
.tool__block{
  display: block;
}

.contact {
  background-color:black;
  color:white;
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 200px;
}

.profession__item{
 margin-top: 20px;
 margin-left: 10px;
 display:block;
}

.ability__block--dev{
margin-top: 5px;
display:block;

}

.ability__block--ux{
margin-top: 5px;
display:block;
}


.section__title--projects{
    color: white;
    /*padding-bottom: 44px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;*/
    opacity: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
}

.section__title--abilities{
    color: #262525;
    /*padding-bottom: 44px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;*/
    opacity: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
  }
.section__title--tools{
    color: #262525;
    /*padding-bottom: 44px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;*/
    opacity: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
}

.section__title__recip{
text-align: center;
transform: skewY(7deg);
margin-bottom:20px;
}

.section__title__recip--centrado{
  text-align: center;
  margin-bottom:20px;
}

.project__block__img{
  width: 90%;
}

.project__block__img__container{
  text-align: center;
}
.contact__button__container{
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
.contact__text__container{
  display: block;
  text-align: center;
}
.contact__button__img{
  max-width: 70px;
display: inline-block;
}


.project__header{
  padding-top: 30px;
    /*background-image: linear-gradient(45deg, #FFDC00, #fff);*/
    background-image: linear-gradient(180deg, #fff 40%, #FFDC00);
  
}

.project__header__inner{
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 50px;
  /*background-image: linear-gradient(45deg, #FFDC00, #fff);*/
  background-color: #fff;
  transform: skewY(-7deg);
}

.project__title{
  margin-left: 10%;
  color: #AAAAAA;
  transform: skewY(7deg);
}
.project__body{
  background-color: #fff;
}
.project__menu{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.project__menu__home__img{
  max-width: 40px;
}
.project__menu__home__btn{
  color:#AAAAAA;
  text-decoration: none;
  display: block;
}

.project__text__body__inner{
  border-radius: 10px;
  width: 90%;
  background-color: #fff;
  margin: 0 auto;
  
  padding: 20px;
}

.project__text__body{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FFDC00;

}

.project_abilities{
  margin-left: 10%;
  color: #111;
  transform: skewY(7deg);
}
.project__block{
  padding-top: 20px;
}
.project__block__images{
  padding-top: 10px;
}

@media (max-width: 600px) {
  .hero__inner{
    width: 100%;
  }
  .abilities__block{
    text-align: center;
    margin-bottom: 50px;
  }
}

@media (min-width: 600px) {

  .abilities__inner{
    max-width: 50em;
    margin-left: 30%;
    transform: skewY(7deg);
    }
  .tools__inner{
      margin-left: 30%;
    }
  .section__title{
    left: 0px;
    position: absolute;
    font-size: 4rem;
    transform: rotate(-90deg);
    }

    .section__title--projects{
      margin-top: 300px;
    }
    .section__title--abilities{
      margin-top: 150px;

    }
    .section__title--tools{
      margin-top: 150px;

    }
  
}
/*====CREAR EL ESTILO PARA LA GRILLA=====*/

