body {
    background-color: #f0f4f6;
   /* font-family: Georgia, "Times New Roman", Times, serif;*/
    font-family: "Space Mono",Arial,serif;
}
#app {
    background-color: #f0f4f6;
}
.row.seccion {
padding-top: 3%;
/*padding-bottom: 3%;*/

}
.mini-item{
    color: #202121;
    border: 1px solid #202121;
    border-radius: 36px;
    padding: 0 20px;
    margin-right: 10px;
}
#app  .titulo-seccion{
    font-size: 170%;
    display: block;
    margin-bottom: 1%;
}
#app .nombre{
    font-size: 170%;
    display: block;
}
#app .profesion{
    font-size: 120%;
    display: block;
}

#app .hero{
    color: #000;
    background-color: #fcd853;
    padding-top: 20%;
    padding-bottom: 10%;
    text-align: center;
}
#app .contacto{
    color: #000;
    background-color: #fcd853;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}
#app .btnmail{
 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  
    border-radius: 36px;
    color: #202121;
    background-color: #fff;
}

#app .habilidades{
    color: #000;
    background-color: #fff;
    padding-top: 10%;
    padding-bottom: 10%;
   /* padding-bottom: 10%;*/
    text-align: center;
}
#app .proyectos{
    color: white;
    background-color: #fd7166;
    /*padding-top: 20%;
    padding-bottom: 10%;*/
    
    text-align: center;
}

#app .sobremi{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

#app .img_redes {
    margin-right: 5px;
    margin-left: 5px;
    max-width: 50px;
    display: inline;
}

#app .img_redes_contenedor {
padding-top: 1%;
    display: inline;
}

#app .proyecto_detalle{
    padding-top: 5%;
    height: 100%;
} 

#app .portada_proyecto{
    margin-bottom: 20px;
}
#app .titulo_detalle {
    font-size: 120%;
    color: #fd7166;

}


#app .sub_titulo_detalle {
    font-size: 120%;
    color: #fd7166;

}
#app .titulo_grupo_habilidades {
    opacity: 0.7;
    text-align:"right";
 }
@media only screen and (max-width: 768px) {

    #app .titulo_grupo_habilidades {
        opacity: 0.7;
       text-align:"center";
       margin-bottom: "20px";
    }

  }