

.projects {

}

.projects {
text-align: center;
}

.projects__block__img {
  width:300px;
  cursor: pointer;
}

.projects__block__title {
 display:block;
}

.projects__block__img{
 display:block;
}

.projects__block__link{
display:block;
}

